@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

@font-face {
    font-family: "space 1";
    src: url("Fonts/space\ Xrebron.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
    color: #777; 
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-image: url("Images/space.jpg");
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "space 1";
    font-weight: normal; 
    color: white;
}

.brand-name-large {
    font-size: 4em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #333;
    text-align: center;
    font-size: 2em; 
}

.about-brand-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-image: url("Images/space.jpg");
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 20px;
    height: 20px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #6b2dbd;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3); 
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #6b2dbd;
    font-size: 2em;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
}

.artist-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}

.artist-row:last-child {
    border-bottom: none;
}

.artist-item {
    display: inline-block;
    padding-right: .5em;   
}

.artist-name {
    color:#555;
    font-weight: bold;
    width: 35%;
}

.artist-city {
    width: 42%;
}

.artist-btn {
    max-width: 19%;
}

.btn-primary {
    color: white;
    background-color: #6b2dbd;
    border: none;
    border-radius: .3em;
    font-weight: bold; 
}

.btn-primary:hover {
    background-color: #451b7a; 
}